.design10 {
    .module-title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 32px;
        line-height: 106%;
        color: #363636;
        margin-bottom: 15px;
        margin-top: 14px
    }
}