.design10 {
    .module-accordion {
        &__summary {
            list-style-type: none;
        }
        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 16px;
            background: #ede1f8;
            gap: 20px;
            &-icon {
                display: flex;
                flex-shrink: 0;
                width: 22px;
                height: 22px;
            }
            &-text {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 167%;
                color: #787878;
                display: flex;
                margin-right: auto;
            }
            &-arrow {
                display: flex;
                flex-shrink: 0;
                width: 14px;
            }
        }
        &__content {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 20px;
            color: #626262;
            padding: 31px 0px 19px 0px;
            line-height: 27px;
            a, span {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 20px;
                color: #626262;
                text-decoration: underline;
                text-decoration-skip-ink: none;
            }
        }
    }
}